################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApplication1/.vs
/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/DownLoad
/WebApplication1/WebApplication1/示例测试目录/订单发货专用文件夹/
